<a href="https://colab.research.google.com/github/ananyasahoo/ANANYASAHOO/blob/main/Housing_analysis_using_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
data=pd.read_csv("/content/housing.csv")
data.head(n=5)

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]

In [7]:
data.tail(n=3)

       longitude  latitude  ...  median_house_value  ocean_proximity
20637    -121.22     39.43  ...             92300.0           INLAND
20638    -121.32     39.43  ...             84700.0           INLAND
20639    -121.24     39.37  ...             89400.0           INLAND

[3 rows x 10 columns]

In [10]:
data.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object

In [13]:
data.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [17]:
data.describe()

          longitude      latitude  ...  median_income  median_house_value
count  20640.000000  20640.000000  ...   20640.000000        20640.000000
mean    -119.569704     35.631861  ...       3.870671       206855.816909
std        2.003532      2.135952  ...       1.899822       115395.615874
min     -124.350000     32.540000  ...       0.499900        14999.000000
25%     -121.800000     33.930000  ...       2.563400       119600.000000
50%     -118.490000     34.260000  ...       3.534800       179700.000000
75%     -118.010000     37.710000  ...       4.743250       264725.000000
max     -114.310000     41.950000  ...      15.000100       500001.000000

[8 rows x 9 columns]

In [18]:
data.isnull()

       longitude  latitude  ...  median_house_value  ocean_proximity
0          False     False  ...               False            False
1          False     False  ...               False            False
2          False     False  ...               False            False
3          False     False  ...               False            False
4          False     False  ...               False            False
...          ...       ...  ...                 ...              ...
20635      False     False  ...               False            False
20636      False     False  ...               False            False
20637      False     False  ...               False            False
20638      False     False  ...               False            False
20639      False     False  ...               False            False

[20640 rows x 10 columns]

In [19]:
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [20]:
data[data['total_bedrooms'].isnull()==True]

       longitude  latitude  ...  median_house_value  ocean_proximity
290      -122.16     37.77  ...            161900.0         NEAR BAY
341      -122.17     37.75  ...             85100.0         NEAR BAY
538      -122.28     37.78  ...            173400.0         NEAR BAY
563      -122.24     37.75  ...            247100.0         NEAR BAY
696      -122.10     37.69  ...            178400.0         NEAR BAY
...          ...       ...  ...                 ...              ...
20267    -119.19     34.20  ...            220500.0       NEAR OCEAN
20268    -119.18     34.19  ...            167400.0       NEAR OCEAN
20372    -118.88     34.17  ...            410700.0        <1H OCEAN
20460    -118.75     34.29  ...            258100.0        <1H OCEAN
20484    -118.72     34.28  ...            218600.0        <1H OCEAN

[207 rows x 10 columns]

In [22]:
data['population'].mean()

1425.4767441860465

In [28]:
data['total_bedrooms'].fillna(data['total_bedrooms'].mean(), inplace= True)

In [26]:
data[data['total_bedrooms'].isnull()== True]

Empty DataFrame
Columns: [longitude, latitude, housing_median_age, total_rooms, total_bedrooms, population, households, median_income, median_house_value, ocean_proximity]
Index: []

In [29]:
data.head(n=6)

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY
5    -122.25     37.85  ...            269700.0         NEAR BAY

[6 rows x 10 columns]

In [30]:
data.iloc[5]

longitude              -122.25
latitude                 37.85
housing_median_age          52
total_rooms                919
total_bedrooms             213
population                 413
households                 193
median_income           4.0368
median_house_value      269700
ocean_proximity       NEAR BAY
Name: 5, dtype: object

In [31]:
data.loc[5]

longitude              -122.25
latitude                 37.85
housing_median_age          52
total_rooms                919
total_bedrooms             213
population                 413
households                 193
median_income           4.0368
median_house_value      269700
ocean_proximity       NEAR BAY
Name: 5, dtype: object

In [32]:
data.groupby(['ocean_proximity']).mean()

                  longitude   latitude  ...  median_income  median_house_value
ocean_proximity                         ...
<1H OCEAN       -118.847766  34.560577  ...       4.230682       240084.285464
INLAND          -119.732990  36.731829  ...       3.208996       124805.392001
ISLAND          -118.354000  33.358000  ...       2.744420       380440.000000
NEAR BAY        -122.260694  37.801057  ...       4.172885       259212.311790
NEAR OCEAN      -119.332555  34.738439  ...       4.005785       249433.977427

[5 rows x 9 columns]

In [33]:
data.tail()

       longitude  latitude  ...  median_house_value  ocean_proximity
20635    -121.09     39.48  ...             78100.0           INLAND
20636    -121.21     39.49  ...             77100.0           INLAND
20637    -121.22     39.43  ...             92300.0           INLAND
20638    -121.32     39.43  ...             84700.0           INLAND
20639    -121.24     39.37  ...             89400.0           INLAND

[5 rows x 10 columns]